@keyframes footer {
    0% {
        background: linear-gradient(0deg, #340493, #CE217A);
    }

    1% {
        background: linear-gradient(3.6deg, #340493, #CE217A);
    }

    2% {
        background: linear-gradient(7.2deg, #340493, #CE217A);
    }

    3% {
        background: linear-gradient(10.8deg, #340493, #CE217A);
    }

    4% {
        background: linear-gradient(14.4deg, #340493, #CE217A);
    }

    5% {
        background: linear-gradient(18deg, #340493, #CE217A);
    }

    6% {
        background: linear-gradient(21.6deg, #340493, #CE217A);
    }

    7% {
        background: linear-gradient(25.2deg, #340493, #CE217A);
    }

    8% {
        background: linear-gradient(28.8deg, #340493, #CE217A);
    }

    9% {
        background: linear-gradient(32.4deg, #340493, #CE217A);
    }

    10% {
        background: linear-gradient(36deg, #340493, #CE217A);
    }

    11% {
        background: linear-gradient(39.6deg, #340493, #CE217A);
    }

    12% {
        background: linear-gradient(43.2deg, #340493, #CE217A);
    }

    13% {
        background: linear-gradient(46.8deg, #340493, #CE217A);
    }

    14% {
        background: linear-gradient(50.4deg, #340493, #CE217A);
    }

    15% {
        background: linear-gradient(54deg, #340493, #CE217A);
    }

    16% {
        background: linear-gradient(57.6deg, #340493, #CE217A);
    }

    17% {
        background: linear-gradient(61.2deg, #340493, #CE217A);
    }

    18% {
        background: linear-gradient(64.8deg, #340493, #CE217A);
    }

    19% {
        background: linear-gradient(68.4deg, #340493, #CE217A);
    }

    20% {
        background: linear-gradient(72deg, #340493, #CE217A);
    }

    21% {
        background: linear-gradient(75.6deg, #340493, #CE217A);
    }

    22% {
        background: linear-gradient(79.2deg, #340493, #CE217A);
    }

    23% {
        background: linear-gradient(82.8deg, #340493, #CE217A);
    }

    24% {
        background: linear-gradient(86.4deg, #340493, #CE217A);
    }

    25% {
        background: linear-gradient(90deg, #340493, #CE217A);
    }

    26% {
        background: linear-gradient(93.6deg, #340493, #CE217A);
    }

    27% {
        background: linear-gradient(97.2deg, #340493, #CE217A);
    }

    28% {
        background: linear-gradient(100.8deg, #340493, #CE217A);
    }

    29% {
        background: linear-gradient(104.4deg, #340493, #CE217A);
    }

    30% {
        background: linear-gradient(108deg, #340493, #CE217A);
    }

    31% {
        background: linear-gradient(111.6deg, #340493, #CE217A);
    }

    32% {
        background: linear-gradient(115.2deg, #340493, #CE217A);
    }

    33% {
        background: linear-gradient(118.8deg, #340493, #CE217A);
    }

    34% {
        background: linear-gradient(122.4deg, #340493, #CE217A);
    }

    35% {
        background: linear-gradient(126deg, #340493, #CE217A);
    }

    36% {
        background: linear-gradient(129.6deg, #340493, #CE217A);
    }

    37% {
        background: linear-gradient(133.2deg, #340493, #CE217A);
    }

    38% {
        background: linear-gradient(136.8deg, #340493, #CE217A);
    }

    39% {
        background: linear-gradient(140.4deg, #340493, #CE217A);
    }

    40% {
        background: linear-gradient(144deg, #340493, #CE217A);
    }

    41% {
        background: linear-gradient(147.6deg, #340493, #CE217A);
    }

    42% {
        background: linear-gradient(151.2deg, #340493, #CE217A);
    }

    43% {
        background: linear-gradient(154.8deg, #340493, #CE217A);
    }

    44% {
        background: linear-gradient(158.4deg, #340493, #CE217A);
    }

    45% {
        background: linear-gradient(162deg, #340493, #CE217A);
    }

    46% {
        background: linear-gradient(165.6deg, #340493, #CE217A);
    }

    47% {
        background: linear-gradient(169.2deg, #340493, #CE217A);
    }

    48% {
        background: linear-gradient(172.8deg, #340493, #CE217A);
    }

    49% {
        background: linear-gradient(176.4deg, #340493, #CE217A);
    }

    50% {
        background: linear-gradient(180deg, #340493, #CE217A);
    }

    51% {
        background: linear-gradient(183.6deg, #340493, #CE217A);
    }

    52% {
        background: linear-gradient(187.2deg, #340493, #CE217A);
    }

    53% {
        background: linear-gradient(190.8deg, #340493, #CE217A);
    }

    54% {
        background: linear-gradient(194.4deg, #340493, #CE217A);
    }

    55% {
        background: linear-gradient(198deg, #340493, #CE217A);
    }

    56% {
        background: linear-gradient(201.6deg, #340493, #CE217A);
    }

    57% {
        background: linear-gradient(205.2deg, #340493, #CE217A);
    }

    58% {
        background: linear-gradient(208.8deg, #340493, #CE217A);
    }

    59% {
        background: linear-gradient(212.4deg, #340493, #CE217A);
    }

    60% {
        background: linear-gradient(216deg, #340493, #CE217A);
    }

    61% {
        background: linear-gradient(219.6deg, #340493, #CE217A);
    }

    62% {
        background: linear-gradient(223.2deg, #340493, #CE217A);
    }

    63% {
        background: linear-gradient(226.8deg, #340493, #CE217A);
    }

    64% {
        background: linear-gradient(230.4deg, #340493, #CE217A);
    }

    65% {
        background: linear-gradient(234deg, #340493, #CE217A);
    }

    66% {
        background: linear-gradient(237.6deg, #340493, #CE217A);
    }

    67% {
        background: linear-gradient(241.2deg, #340493, #CE217A);
    }

    68% {
        background: linear-gradient(244.8deg, #340493, #CE217A);
    }

    69% {
        background: linear-gradient(248.4deg, #340493, #CE217A);
    }

    70% {
        background: linear-gradient(252deg, #340493, #CE217A);
    }

    71% {
        background: linear-gradient(255.6deg, #340493, #CE217A);
    }

    72% {
        background: linear-gradient(259.2deg, #340493, #CE217A);
    }

    73% {
        background: linear-gradient(262.8deg, #340493, #CE217A);
    }

    74% {
        background: linear-gradient(266.4deg, #340493, #CE217A);
    }

    75% {
        background: linear-gradient(270deg, #340493, #CE217A);
    }

    76% {
        background: linear-gradient(273.6deg, #340493, #CE217A);
    }

    77% {
        background: linear-gradient(277.2deg, #340493, #CE217A);
    }

    78% {
        background: linear-gradient(280.8deg, #340493, #CE217A);
    }

    79% {
        background: linear-gradient(284.4deg, #340493, #CE217A);
    }

    80% {
        background: linear-gradient(288deg, #340493, #CE217A);
    }

    81% {
        background: linear-gradient(291.6deg, #340493, #CE217A);
    }

    82% {
        background: linear-gradient(295.2deg, #340493, #CE217A);
    }

    83% {
        background: linear-gradient(298.8deg, #340493, #CE217A);
    }

    84% {
        background: linear-gradient(302.4deg, #340493, #CE217A);
    }

    85% {
        background: linear-gradient(306deg, #340493, #CE217A);
    }

    86% {
        background: linear-gradient(309.6deg, #340493, #CE217A);
    }

    87% {
        background: linear-gradient(313.2deg, #340493, #CE217A);
    }

    88% {
        background: linear-gradient(316.8deg, #340493, #CE217A);
    }

    89% {
        background: linear-gradient(320.4deg, #340493, #CE217A);
    }

    90% {
        background: linear-gradient(324deg, #340493, #CE217A);
    }

    91% {
        background: linear-gradient(327.6deg, #340493, #CE217A);
    }

    92% {
        background: linear-gradient(331.2deg, #340493, #CE217A);
    }

    93% {
        background: linear-gradient(334.8deg, #340493, #CE217A);
    }

    94% {
        background: linear-gradient(338.4deg, #340493, #CE217A);
    }

    95% {
        background: linear-gradient(342deg, #340493, #CE217A);
    }

    96% {
        background: linear-gradient(345.6deg, #340493, #CE217A);
    }

    97% {
        background: linear-gradient(349.2deg, #340493, #CE217A);
    }

    98% {
        background: linear-gradient(352.8deg, #340493, #CE217A);
    }

    99% {
        background: linear-gradient(356.4deg, #340493, #CE217A);
    }

    100% {
        background: linear-gradient(360deg, #340493, #CE217A);
    }

    100% {
        background: linear-gradient(360deg, #340493, #CE217A);
    }
}

@keyframes pulse1 {
    0% {
        text-shadow: 0 0 35px rgb(255, 255, 255);
    }

    50% {
        text-shadow: 0 0 50px rgba(255, 255, 255, 0.9);
    }

    100% {
        text-shadow: 0 0 35px rgb(255, 255, 255);
    }
}