@font-face {
    font-family: 'Pastor of Muppets';
    src: local(), url('../Font/Pastor of Muppets.TTF') format('woff');
    font-family: 'Pastor of Muppets';

}

@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Ephesis&family=Gruppo&family=PT+Mono&family=Pixelify+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gruppo&display=swap');

body {
    background-color: #e6e7ed;
    /* overflow-x: hidden; */
}



/* -------------------------------------- HEADER -------------------------------------- */

header {
    width: 100vw;
    height: 100vh;
}

header h1 {
    height: 10vh;
    margin: auto;
    text-align: center;
    margin: 40vh 0 40vh 0;
    font-family: 'Pastor of Muppets';
    font-size: 13vw;
    font-weight: 500;
}


#spanMirror {
    display: inline-block;
    transform: scale(-1, 1);
}

/* font-family: 'Barlow Condensed', sans-serif;
font-family: 'Ephesis', cursive;
font-family: 'Pixelify Sans', sans-serif; */
/* ---------------------------- main -------------------------------- */

main {
    margin: 0 3vw 0 3vw;
    background-color: rgb(194, 194, 194);
    padding: 3vw;
    border-radius: 30px;
}

main h2 {
    margin: 1% 3% 3% 0;
    font-family: 'Pastor of Muppets';
    font-size: 6em;
}

main div {
    height: 35vh;
    padding: 4% 2% 2% 2%;
    color: white;
    font-family: 'Barlow Condensed', sans-serif;
}

main div h3 {
    margin: 0 2vw 2vw 2vw;
    font-size: 2em;
    text-shadow: 0 0 8px rgba(255, 255, 255, 1);
}

main div p {
    line-height: 1.2em;
    margin: 1vh;
    text-shadow: 0 0 8px rgba(255, 255, 255, 1);
    line-height: 3vh;
}

/* ------------------------------------------- article ----------------------------------------- */
article {
    margin: 3vh 6vw 2vh 6vw;
    background-color: white;
    padding: 2vw;
    border-radius: 20px;
}

article p {
    font-style: italic;
    font-family: 'Ephesis', cursive;
    line-height: 1.5em;
    letter-spacing: -1.5px;
}

/* ------------------------------------------------------ nav ------------------------------------ */

nav {
    background-color: lightblue;
    margin: 2vh 2vw 2vh 2vw;
    padding: 1vh 0 1vh 0;

}

nav h2 {
    padding: 3% 3% 5% 6%;
    font-family: 'PT Mono', monospace;
}

@media screen and (min-width: 920px) {
    nav h2 {
        font-size: 3em;
    }
}

@media screen and (min-width: 550px) and (max-width: 919px) {
    nav h2 {
        font-size: 2em;
    }
}

@media screen and (max-width: 549px) {
    nav h2 {
        font-size: 1.5em;
    }
}

nav div:nth-child(even) {
    background-color: lightgrey;
}

nav div {
    overflow: hidden;
}

.prevjob table th p {
    font-family: 'PT Mono', monospace;
    line-height: 0.8em;
}

.prevjob table th p:first-child {
    line-height: 1em;
}

.prevjob table thead th:first-child {
    vertical-align: middle;
    text-align: center;
    min-width: 25vw;
}

.prevjob table thead th:last-child {
    text-align: left;
    width: auto;
    padding: 2%;
}

.prevjob table thead th h4,
.prevjob table thead th h5 {
    padding: 1%;
    font-family: 'PT Mono', monospace;
}

.prevjob table thead th h4 {
    font-size: 1.4em;
}

@media screen and (max-width: 549px) {
    .prevjob table thead th h4 {
        font-size: 1em;
        font-weight: 700;
    }
}


.prevjob table thead th h5 {
    font-size: 1.2em;
}

@media screen and (max-width: 549px) {
    .prevjob table thead th h5 {
        font-weight: 700;
        font-size: 1em;
    }
}

/* ------------------------------------------------------ SECTION ------------------------------------- */

section h2 {
    font-size: 2em;
    padding: 10%;
    font-family: 'Gruppo', sans-serif;
    font-family: 'Barlow Condensed', sans-serif;

}

/* ---------------------------------------- FOOTER --------------------------------------------------- */

footer {
    margin: 6%;
    display: flex;
    border-radius: 25px;
    overflow: hidden;
    justify-content: space-between;
    animation: footer 10s infinite;
    padding-right: 5%;
}

footer div h1 {
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

footer div p {
    color: rgb(10, 10, 10);
    font-weight: 500;
}

/* Stili per schermi di larghezza maggiore o uguale a 920px */
@media screen and (min-width: 920px) {

    #guildmark {
        margin-top: 8%;
        display: block;
    }

    #guildmark img {
        width: 10%;
        max-width: 30%;
        border-radius: 100%;
    }

    footer div {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    footer div h1 {
        font-size: 3em;
        margin-top: 2%;
        font-weight: 700;
        animation: pulse1 1s infinite;
    }

    footer div p {
        font-size: 1.5em;
    }

    footer img:first-of-type {
        overflow: hidden;
        height: 100%;
    }

    #guildmark {
        display: block;
    }

    #guildmark img:first-child {
        width: 10%;
        margin-right: 2px;
        height: auto;
        border-radius: 0;
    }

    #guildmark img:nth-child(3) {
        border-radius: 0;
        width: 10%;
    }
}

/* Stili per schermi tra 550px e 920px */
@media screen and (min-width: 550px) and (max-width: 919px) {
    footer {
        flex-direction: column-reverse;
        text-align: justify;
    }

    footer h1 {
        color: white;
        padding: 3% 3% 3% 6%;
        font-size: 3em;
        animation: pulse1 1s infinite;

    }

    footer p {
        margin: 1% 1% 1% 3%;
        line-height: 1.5em;
    }

    footer div p {
        font-size: 1.2em;
    }

    #guildmark {
        display: flex;
        justify-content: space-between;
    }

    #guildmark img,
    #guildmark a img {
        width: 10%;
        flex: 1;
        max-width: 20%;
        border-radius: 100%;
        align-self: center;
        margin: 10px;
    }

    #guildmark a img {
        align-self: center;
        width: 20%;
    }

    #guildmark img:first-child {
        margin-right: 2px;
        height: auto;
        border-radius: 0;
    }

    #guildmark img:nth-child(3) {
        height: auto;
        border-radius: 0;
    }


}

/* Stili per schermi di larghezza inferiore a 550px */
@media screen and (max-width: 549px) {


    footer {
        flex-direction: column-reverse;
        text-align: center;
    }

    footer h1 {
        padding: 5%;
    }

    footer p {
        font-size: 0.9em;
    }

    #ultimo_titolo {
        margin-top: 1%;
        font-size: 0.7em;
    }

    footer img:first-of-type {
        overflow: hidden;
        width: 110%;
    }

    #guildmark {
        display: flex;
        justify-content: space-around;
        text-align: center;
        padding: 2% 2% 2% 4%;
    }

    #guildmark img {
        width: 13%;
    }

    #guildmark img:first-of-type {
        width: 15%;
    }

    #guildmark img:nth-child(4) {
        border-radius: 100%;
    }
}

/* Fare display per meno di 950px wd */